Repository zopiolabs/Bleda, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source, config, dependencies, ci/cd, game-mechanics, ui, build

chore(release): v1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

feat: add branch protection with automated audit and verification workflows
  .claude/settings.local.json
  .github/BRANCH_PROTECTION.md
  .github/PROTECTION_STATUS.md
  .github/scripts/setup-branch-protection.sh
  .github/workflows/audit-protection.yml
  .github/workflows/verify-protection.yml
  README.md
Labels: documentation, config, ci/cd

feat: skip merge commits in PR validation workflow
  .github/workflows/validate-pr.yml
Labels: config, ci/cd

fix: remove stray character from CODEOWNERS file comment header
  .github/CODEOWNERS
Labels: none

feat: enhance CODEOWNERS validation with detailed error reporting and debug output
  .github/workflows/verify-protection.yml
Labels: config, ci/cd

fix: improve CODEOWNERS validation with robust error handling and pattern matching
  .github/workflows/verify-protection.yml
Labels: config, ci/cd

fix: improve CODEOWNERS validation to handle parent directories and suppress build failures
  .github/workflows/verify-protection.yml
Labels: config, ci/cd

chore: update GitHub Actions status check names to include workflow prefixes
  .github/BRANCH_PROTECTION.md
  .github/scripts/setup-branch-protection.sh
  .github/workflows/audit-protection.yml
Labels: documentation, config, ci/cd

chore: update branch protection check names for better readability
  .github/BRANCH_PROTECTION.md
  .github/scripts/setup-branch-protection.sh
  .github/workflows/audit-protection.yml
Labels: documentation, config, ci/cd

test: Branch protection test (#6)
  .claude/settings.local.json
  .github/BRANCH_PROTECTION.md
  .github/CODEOWNERS
  .github/PROTECTION_STATUS.md
  .github/scripts/setup-branch-protection.sh
  .github/workflows/audit-protection.yml
  .github/workflows/validate-pr.yml
  .github/workflows/verify-protection.yml
  README.md
Labels: documentation, config, ci/cd

chore(release): v1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

docs: add comprehensive game overview and documentation to README
  README.md
Labels: documentation

docs: add comprehensive game overview and documentation to README (#7)
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

# Configuration for PR auto-labeling based on file changes

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'
      - '.github/*.md'

# Source code changes
source:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*.ts'
      - 'src/**/*.js'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.yml'
      - '*.yaml'
      - '.github/**/*.yml'
      - 'tsconfig.json'
      - 'vite.config.ts'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

# CI/CD changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'

# Game mechanics
game-mechanics:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/game.ts'
      - 'src/obstacle.ts'
      - 'src/powerup.ts'
      - 'src/target.ts'

# UI changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/ui-manager.ts'
      - 'index.html'
      - 'src/messages.ts'

# Build and deployment
build:
  - changed-files:
    - any-glob-to-any-file:
      - 'vite.config.ts'
      - '.github/workflows/build.yml'
      - '.github/workflows/deploy-pages.yml'
      - '.github/workflows/release.yml'
